<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>879744032689-3ojkb98pekgf6873kgs11g6fd9c87v1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879744032689-3ojkb98pekgf6873kgs11g6fd9c87v1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ3rr9pQrt3I2kBpxA3uaiEP5PIXzXglc</string>
	<key>GCM_SENDER_ID</key>
	<string>879744032689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.1224.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-f79e7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-f79e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:879744032689:ios:8f4a1c6d6d2edb10</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-f79e7.firebaseio.com</string>
</dict>
</plist>